
<p>
	<b>Nombre: </b>
	<%= @tarea.nombre %>
	<b>Detalles: </b>
	<%= @tarea.detalles %>
	<b>Autor: </b>
	<%= @tarea.autor %>
	<b>Fecha de creacion:</b>
	<%= @tarea.fecha %>
	<b>Responsable: </b>
	<%= @tarea.responsable %>
        <b>Completa?</b>
        <%= @tarea.completa ? 'Completa' : 'Pendiente' %>
        <br />
        <%= link_to 'Editar', edit_tarea_path(@tarea) %> |
        <%= link_to 'Eliminar', @tarea, :confirm => 'Seguro?!?!?!?', :method => :delete %>
</p>
 <br />
<%= link_to 'Tareas', tareas_path %> | 
<%= link_to 'Responsables', responsables_path %> 
