<h1>Responsables</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Mail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @responsables.each do |responsable| %>
  <tr>
    <td><%= responsable.nombre %></td>
    <td><%= responsable.mail %></td>
    <td><%= link_to 'Mostrar', responsable %></td>
    <td><%= link_to 'Editar', edit_responsable_path(responsable) %></td>
    <td><%= link_to 'Borrar', responsable, :confirm => 'Estas seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Responsable', new_responsable_path %> | 
<%= link_to 'Tareas', tareas_path %>
