<p>
  <b>Nombre:</b>
  <%= @responsable.nombre %>
</p>

<p>
  <b>Mail:</b>
  <%= @responsable.email %>
</p>
<p>
  <%= link_to 'Editar', edit_responsable_path(@responsable) %>
</p>


<br />
<%= link_to 'Tareas', tareas_path %> | 
<%= link_to 'Responsables', responsables_path %> 
