<h1>Login</h1>
<% if @responsable_session.errors.any? %>
  <div id="login_error">
    <p><%= @responsable_session.errors.full_messages.join('; ') %></p>
  </div>
<% end %>
<%= form_for(@responsable_session) do |f| %>
  <%= f.label :email, "Mail" %><br />
  <%= f.text_field :email %><br />
  <br />
  <%= f.label :password, "Clave" %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.check_box :remember_me %><%= f.label :remember_me, "Recordar?" %><br />
  <br />
  <%= f.submit "Entrar", :id => 'loggin' %>
<% end %>