<!DOCTYPE html>
<html>
<head>
  <title>Tareas</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= render 'menus/menu' %>
</head>
<body>
<%= yield %>
  <br />
  <%= flash[:notice] if flash.notice %>
<% 3.times do %>
<br />
<% end %>
</body>
<footer> By ®RotseN-Shelvak® </footer> 
</html>