<!DOCTYPE html>
<html>
<head>
  <title>Tareas</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <% if @current_responsable %>   
    <%= link_to @current_responsable,:controller => 'responsables', :action => 'edit', :id => @current_responsable  %> |
    <%= link_to "Salir", new_responsable_session_path, :method => :delete, :confirm => "Seguro?" %>
  <%  else %>
    <%= link_to "Registrarse", new_responsable_path %> 
      <% unless current_page?(:controller => 'responsable_sessions', :action => 'new') %>
      |  <%= link_to "Entrar", new_responsable_session_path  %>
      <% end %>
  <% end %>
</head>
<body>
<%= yield %>
  <br />
  <%= flash[:notice] if flash.notice %>
<% 3.times do %>
<br />
<% end %>
</body>
<footer> By ®RotseN-Shelvak® </footer> 
</html>